CMakeFiles
CMakeScripts
MLCPlusPlus.xcodeproj
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
MLCPlusPlusConfig.h
bin/*
doc/*
MLCPlusPlus.kdevelop
MLCPlusPlus.kdevelop.filelist
MLCPlusPlus.kdevses
*.a
MLCPlusPlus.build
.DS_Store
.cproject
.project
nbproject
test/mlcpptest
~$*.xslx
packages/*
.vs
Debug/*
Build/Debug
Build/Release
Build/x64
Build/mlclient.VC.db
Build/getdoc/Debug
Build/getdoc/Release
Build/csmlclient/Debug
Build/csmlclient/Release
Build/csmlclient/bin
Build/csmlclient/Dependencies
Build/csmlclient/obj
Build/csmlclient/Source Files
Build/cgetasstruct/Debug
Build/cgetdoc/Debug
Build/cppproducer/Debug
Build/tests/Debug
Build/cgetasstruct/Release
Build/cgetdoc/Release
Build/cppproducer/Release
Build/tests/Release
Build/packages/*
Build/mlclient.VC.VC.opendb
.gitignore.swp
release/samples/**/**/bin
release/samples/**/**/obj
release/samples/**/**/Dependencies
release/samples/**/**/Source Files
release/samples/**/**/*.dll
release/samples/**/**/*.so
release/samples/**/**/*.dylib
logs
performance.log
release/**/*.o
release/samples/**/*.zip
release/samples/**/*.xml
build-dist/osx/mlclient/pkgbuild
deps
nugettest/packages
*.VC.db
nugettest/nugettest/Debug
bugettest/nugettest/Release
*.nupkg
nugettest/ipch
nugettest/Debug
nugettest/Release
*.VC.VC.opendb
Build/csmlclientcpp/Debug
Build/csmlclientcpp/Release
Build/bin
Build/objects
nugettest/bin
nugettest/objects
*.user
*.log
*.tlog
Build/*/objects
Build/*/bin
nugettest/*/bin
nugettest/*/objects
nugettest/*/obj
