<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkLogic.MLConnect.Cpp" version="8.0.3-beta01" targetFramework="net461" />
  <package id="MarkLogic.MLConnect.CSharp" version="8.0.3-beta01" targetFramework="net461" />
  <package id="MarkLogic.MLConnect.CSharp.Swig" version="8.0.3-beta01" targetFramework="net461" />
</packages>